
.App {
    display: flex;
    justify-content: center;
  }
  body{
    font-family: "solway";
  }

#cardbody{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://t3.ftcdn.net/jpg/02/73/49/66/360_F_273496611_DwZ2AQbdTi1I7sgPdBXfYwf80lSbl3jo.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 1200px;
}


#addcard{
  background:rgba(0,0,0,0.55);
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 2rem;
  width: 50%;
}

#addButton{
    width:25%;
    margin-left:15%;
    margin-top: 5%;
    background: rgba(255,255,255,1);
    color:limegreen;
}
#addButton:hover{
  background: rgb(16, 170, 75);
  color:black
}


.container{
    padding-left: 20%;
   
}
.nav-link:hover{
    font-size: large;
}

.error {
    color: red;
    text-align: left;
  }

  #form{
    position: relative;
    margin-left: 40%;
    
  }
 