.App {
    display: flex;
}
  
  label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  #regbody{
    height: 98vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  #regcard{
  border-radius: 5%;
  background:rgba(0,0,0,0.7);
  width: 50%;
  
  color: white;
 
  }
  
  input + label {
    font-weight: bold;
    margin-right: 20px;
    margin-top: 20px;
  }
   
  #signupForm{
   padding-left: 40%;
   
  }
  
  
  .error {
    color: red;
    text-align: left;
  }