#usertable{
  width: 70%;
  position:relative;
 
  margin-top: 5%;
  justify-content: center;
  margin-left: 10%;
}
thead{
  background: rgba(0,0,0, 0.5);
}
  #userrow{
  background: rgba(0, 0, 0, );
  color:rgb(255, 253, 253)
}
tbody tr:hover{
  background: rgba(255, 255, 253, 0.534);
  color:rgb(7, 0, 0)
}

#usersbody{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://t3.ftcdn.net/jpg/02/73/49/66/360_F_273496611_DwZ2AQbdTi1I7sgPdBXfYwf80lSbl3jo.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-color: rgba(0,0,0,.5);
  height: 750px;
  width :100%;
}

#userEditForm{
  padding-left: 30%;
}

#edituserbtn{
  background:rgba(0,0,0,1);

  color:darkcyan
}
#edituserbtn:hover{
  background: rgb(255, 253, 251)
}

#deleteuserbtn{
  background:rgba(0,0,0,1);
  color:darkcyan
}
#deleteuserbtn:hover{
  background: rgb(255, 253, 251)
  
}
#ticketuserbtn{
  background:rgba(0,0,0,1);
  color:darkcyan
}
#ticketuserbtn:hover{
  background: rgb(255, 253, 251)
  
}

.paginationBttns1 {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 15%;
  margin-left: 10%;
 
}
.paginationBttns1 a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px inset;
  color: #fbfbfc;
  cursor: pointer;
}

.paginationBttns1 a:hover {
  color: #2b2eff;
  background-color: #f1f1f7;
}

.ticketsBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
 margin-left: 8%;
 
}
.ticketsBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px inset;
  color: black;
  cursor: pointer;
}

.ticketsBttns a:hover {
  color: #2b2eff;
  background-color: #f1f1f7;
}