#vehiclebody{

    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://t3.ftcdn.net/jpg/02/73/49/66/360_F_273496611_DwZ2AQbdTi1I7sgPdBXfYwf80lSbl3jo.jpg');
    background-repeat: no-repeat;
   
    background-attachment: fixed;
    color: black;
    background-size: 100% 100%;
    background-color: rgba(0,0,0,.5);
    height: 750px;
    width :100%;
    
  }
  #vehicleEditForm{
    padding-left: 30%;
  }
  

  #user_card{
    height: min-content;
    width: 80%;

  }
  
  .App {
    display: flex;
    justify-content: center;
  }

  #editBus{
    background: rgba(255, 255, 255, 0.5);
    color:darkcyan
  }
  #editBus:hover{
    background:rgb(3, 124, 238);
    color: white;
  }

  #deleteBus{
    background: rgba(255,255,255,.5);
    color:darkcyan
  }
  #deleteBus:hover{
    background:rgb(3, 124, 238);
    color: white;
  }
 

  